<div id="form-edit-user">
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Nombre" %><br>
    <%= f.text_field :name, class: "field_content" %>
  </div>
  <div class="field">
    <%= f.label :email, "E-mail" %><br>
    <%= f.text_field :email, class: "field_content" %>
  </div>
  <div class="field">
    <%= f.label :phone, "Teléfono" %><br>
    <%= f.text_field :phone, class: "field_content" %>
  </div>
  <div class="field">
    <%= f.label :address, "Dirección" %><br>
    <%= f.text_field :address, class: "field_content f-address" %>
  </div>

  <% if is_admin? %>
    <div class="field">
      <%= f.label :role_id %><br>
      <%= f.text_field :role_id %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Actualizar mi información", class: "button-update" %>
  </div>
<% end %>
</div>