<div id="form-edit-user">
<%= form_for(@user, url: users_path) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "nombre" %><br>
    <%= f.text_field :name, class: "field_content" %>
  </div>
  
  <!-- <div class="field"> -->
    <%#= f.label :email, "e-mail" %><br>
    <%#= f.text_field :email, class: "field_content" %>
  <!-- </div> -->
  
  <div class="field">
    <%= f.label :phone, "teléfono" %><br>
    <%= f.text_field :phone, class: "field_content" %>
  </div>
  
  <div class="field">
    <%= f.label :address, "dirección" %><br>
    <%= f.text_field :address, class: "field_content f-address" %>
  </div>

  <% if is_admin? %>
    <div class="field">
      <%= f.label :role_id %><br>
      <%= f.text_field :role_id %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "actualizar mi información", class: "button-update" %>
  </div>
<% end %>
</div>

<!-- <script>
  $(document).ready(function() {
    $().on("button-update", function(){
      var filter = $(this).val();
      $.ajax({
      url: '<%= users_path %>',
      type: 'GET',
      dataType: 'script',
      data: {filter: filter},
      })
      .done(function() {
        console.log("success");
      })
      .fail(function() {
       console.log("error");
      })
      .always(function() {
       console.log("complete");
      });
  });
});
</script> -->