<div id="general-info">

	<div id="user-info">
		<div id="profile-pic"></div>
		<div id ="profile-info">
			<p id="c-user-name">
				<span>
					<% if current_user.name.present? %>
						<%= current_user.name  %>
					<% else %>
						<%= "¡Actualiza tu info!" %>
					<% end %>
				<span>
			</p>

			<p id="c-user-agent">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tu agente es 
				<span class="agent-name">
					<% if current_user.agent.present? %>
						<%= current_user.agent.name  %>	
					<% else %>
						<%= "Aún no tienes asignado un agente" %>
					<% end %>
				</span>
			</p>
			
			<p id="c-user-agent">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;📞 
					<% if current_user.agent.present? %>
						<%= current_user.agent.phone %>
					<% else %>
						<%= "Aún no hay teléfono" %>
					<% end %>
			</p>
			
			<p id="c-user-agent">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;📧 
				<% if current_user.agent.present? %>
					<%= current_user.agent.email %>
				<% else %>
						<%= "Aún no hay e-mail" %>
				<% end %>
			</p>

		</div>
	</div>

	<div id="profile-benefits">
		<h4>Reciclando a distancia has logrado...</h4></br>
		<p>Ahorrar <span class="benefit bnft-1">215 lts</span>  de agua</p>
		<p>Ahorrar <span class="benefit bnft-2">3000 watts</span> de energía</p>
		<p>Salvar <span class="benefit bnft-3">20 especies</span> marinas</p>
	</div>
</div>

<div id="profile-deliveries">
	<div id="last-delivery">
		<h5><span class="espan"><span class="benefit">La última vez</span> entregaste</span></h5>
		<div id="table-last">
			<%= javascript_include_tag "https://www.google.com/jsapi", "chartkick" %>
 			<% my_chart = {
 				"bolsa azul": 45,
 				"bolsa naranja": 35,
 				"bolsa morada": 20
 			} %>
 			<%= pie_chart my_chart, id: "last-chart", height: "350px" %>
		</div>
		<div id="comments-last">
		</div>
	</div>
	<div id="total-deliveries">
		<h5><span class="espan"><span class="benefit">En total</span> has entregado</span></h5>
		<div id="table-total">
			<%= javascript_include_tag "https://www.google.com/jsapi", "chartkick" %>
			<% another_chart = {
				"bolsa azul": 45,
				"bolsa naranja": 35,
				"bolsa morada": 20
			} %>
 			<%= column_chart another_chart, id: "total-chart", height: "350px", colors: ["pink", "#999"] %>
		</div>
	</div>
</div>

