<!DOCTYPE html>
<html>
<head>
  <title>Ocho</title>
  <%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%#= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div id="header-welcome"> <!-- Begins header-welcome -->
		<div class="modal-content" id="join-here"> <!-- Begins modal-content -->
		    <div class="modal-header"  id="header-join">	
		        <h4 class="modal-title">¡Quiero unirme!</h4>
		    </div>
  
	      	<div class="modal-body" id="body-join">

				<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
				<%= devise_error_messages! %>

				 	<div class="field">
				    	<%= f.label :email, "e-mail" %><br />
				    	<%= f.email_field :email, autofocus: true, class: "field_content" %>
					</div>

				  	<div class="field">
					    <%= f.label :password, "contraseña" %>
					    <% if @minimum_password_length %>
					    <em>(<%= @minimum_password_length %> characters minimum)</em>
					    <% end %><br />
					    <%= f.password_field :password, autocomplete: "off", class: "field_content" %>
				  	</div>

			  		<div class="field">
					    <%= f.label :password_confirmation, "confirmación de contraseña" %><br />
					    <%= f.password_field :password_confirmation, autocomplete: "off", class: "field_content" %>
			  		</div>

					<div class="actions">
						<%= f.submit "enviar", class: "button-login-join" %>
					</div>
				<% end %>
  			</div>

		    <div class="modal-footer">
				<%= render "devise/shared/links" %>
		    </div>

		</div><!-- /.modal-content -->
	</div> <!-- Ends header-welcome -->

	<div id="benefits-welcome">
		<div id="ben-1">
			<div class="ben-img img-1"></div>
			<div class="ben-txt txt-1">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit ut, facere minima quasi praesentium laborum est deserunt aut laudantium numquam aliquid mollitia non enim quis tempore animi vel voluptatem magnam?
			</div>
		</div>
		
		<div id="ben-2">
			<div class="ben-img img-2"></div>
			<div class="ben-txt txt-2">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit ut, facere minima quasi praesentium laborum est deserunt aut laudantium numquam aliquid mollitia non enim quis tempore animi vel voluptatem magnam?
			</div>
		</div>
		
		<div id="ben-3">
			<div class="ben-img img-3"></div>
			<div class="ben-txt txt-3">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit ut, facere minima quasi praesentium laborum est deserunt aut laudantium numquam aliquid mollitia non enim quis tempore animi vel voluptatem magnam?
			</div>
		</div>
	</div>
	
	<div id="timeline-welcome">
		<h2>UPDATES</h2>

		<!-- SLIDER -->

</body>
</html>

<!-- MODAL LOGIN -->
<div class="modal fade" tabindex="-1" role="dialog" id="modalLogin">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      
      <div class="modal-header" id="header-login">
        <h4 class="modal-title">¡Bienvenido!</h4>
      </div>
      
      <div class="modal-body" id="body-login">

		<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
		  <div class="field">
		    <%= f.label :email, "e-mail" %><br />
		    <%= f.email_field :email, autofocus: true, class: "field_content" %>
		  </div>

		  <div class="field">
		    <%= f.label :password, "contraseña" %><br />
		    <%= f.password_field :password, autocomplete: "off", class: "field_content" %>
		  </div>

		  <% if devise_mapping.rememberable? -%>
		    <div class="remember">
		      <%= f.check_box :remember_me %>
		      <%= f.label :remember_me, "Recuérdame" %>
		    </div>
		  <% end -%>

		  <div class="actions">
		  	<%= f.submit "ingresar", class: "button-login-join" %>
		  </div>
		<% end %>
      </div>

      <div class="modal-footer">
		<%= render "devise/shared/links" %>
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- MODAL FORGOTTEN PASSWORD -->
<div class="modal fade" tabindex="-1" role="dialog" id="modalPassword">
  <div class="modal-dialog" role="document">
	<div class="modal-content" id="password-email"> <!-- Begins modal-content -->
			    <div class="modal-header"  id="header-password-confirmation">	
			        <h4 class="modal-title">Olvidé mi contraseña</h4>
			    </div>
	  
		      	<div class="modal-body" id="body-password-email">

				<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
	  				<%= devise_error_messages! %>

				  	<div class="field">
				    	<%= f.label :email, "e-mail" %><br />
				    	<%= f.email_field :email, autofocus: true, class: "field_content" %>
				  	</div>

					<div class="actions">
						<%= f.submit "enviarme instrucciones", class: "button-login-join" %>
					</div>
				<% end %>
			</div>

			    <div class="modal-footer">
					<%= render "devise/shared/links" %>
			    </div>

		</div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- CONFIRMATION EMAIL -->
<div class="modal fade" tabindex="-1" role="dialog" id="modalConfirmation">
  <div class="modal-dialog" role="document">
	<div class="modal-content" id="conf-email"> <!-- Begins modal-content -->
			    <div class="modal-header"  id="header-password-confirmation">	
			        <h4 class="modal-title">No recibí el e-mail</h4>
			    </div>
	  
		      	<div class="modal-body" id="body-password-email">

				<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
				 	
				 	<%= devise_error_messages! %>

					<div class="field">
						<%= f.label :email, "e-mail" %><br />
					    <%= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: "field_content" %>
					</div>

				  	<div class="actions">
				    	<%= f.submit "reenviar instrucciones", class: "button-login-join" %>
				  	</div>
				<% end %>
			</div>

		    <div class="modal-footer">
				<%= render "devise/shared/links" %>
		    </div>

		</div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
