<!DOCTYPE html>
<html>
<head>
  <title>Ocho</title>
  <%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%#= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<!-- SLIDER -->
	<div id="contentContainer">
		<div id="wrapper">
		    <div id="itemOne" class="content"></div>
		    <div id="itemTwo" class="content"></div>
		    <div id="itemThree" class="content"></div>
		    <div id="itemFour" class="content"></div>
		</div>

		<div id="navLinks">
		    <ul>
		        <li class="itemLinks" data-pos="0vw"></li>
		        <li class="itemLinks" data-pos="-100vw"></li>
		        <li class="itemLinks" data-pos="-200vw"></li>
		        <li class="itemLinks" data-pos="-300vw"></li>
		    </ul>
		</div>
	</div>

	<!-- SOCIAL MEDIA -->
      <div id="social_media">
        <ul>
          <li>
            <a id="facebook" href="https://www.facebook.com/ocho.eco/"></a>
          </li>
          <li>
            <a id="instagram" href="https://www.instagram.com/ochohazeco/"></a>
          </li>
          <li>
            <a id="pinterest" href="https://es.pinterest.com/ochohazeco/"></a>
          </li>
        </ul>
      </div>
	
	<!-- JAVASCRIPT SLIDER -->
	<script>
		var links = document.querySelectorAll(".itemLinks");
		var wrapper = document.querySelector("#wrapper"); 
		// the activeLink provides a pointer to the currently displayed item
		var activeLink = 0;
		 
		// setup the event listeners
		for (var i = 0; i < links.length; i++) {
		    var link = links[i];
		    link.addEventListener('click', setClickedItem, false);
		 
		    // identify the item for the activeLink
		    link.itemID = i;
		}
		 
		// set first item as active
		links[activeLink].classList.add("active");
		 
		function setClickedItem(e) {
		    removeActiveLinks();
		 
		    var clickedLink = e.target;
		    activeLink = clickedLink.itemID;
		 
		    changePosition(clickedLink);
		}
		 
		function removeActiveLinks() {
		    for (var i = 0; i < links.length; i++) {
		        links[i].classList.remove("active");
		    }
		}
		 
		// Handle changing the slider position as well as ensure
		// the correct link is highlighted as being active
		function changePosition(link) {
		    var position = link.getAttribute("data-pos");
		 
		    var translateValue = "translate3d(" + position + ", 0px, 0)";
		    wrapper.style[transformProperty] = translateValue;
		 
		    link.classList.add("active");
		}

		// Dealing with Transforms
		var transforms = ["transform",
		            "msTransform",
		            "webkitTransform",
		            "mozTransform",
		            "oTransform"];
		 
		var transformProperty = getSupportedPropertyName(transforms);
		 
		// vendor prefix management
		function getSupportedPropertyName(properties) {
		    for (var i = 0; i < properties.length; i++) {
		        if (typeof document.body.style[properties[i]] != "undefined") {
		            return properties[i];
		        }
		    }
		    return null;
		}

		// The code for sliding the content automatically
		var timeoutID;
		 
		function startTimer() {
		    // wait 2 seconds before calling goInactive
		    timeoutID = window.setInterval(goToNextItem, 3000);
		}
		startTimer();
		 
		function resetTimer() {
		    window.clearInterval(timeoutID);
		    startTimer();
		}
		 
		function goToNextItem() {
		    removeActiveLinks();
		 
		    if (activeLink < links.length - 1) {
		        activeLink++;
		    } else {
		        activeLink = 0;
		    }
		 
		    var newLink = links[activeLink];
		    changePosition(newLink);
		}

		function setClickedItem(e) {
	    removeActiveLinks();
	    resetTimer();
	 
	    var clickedLink = e.target;
	    activeLink = clickedLink.itemID;
	 
	    changePosition(clickedLink);
		}
	</script>
</body>
</html>

<!-- MODAL LOGIN -->
<div class="modal fade" tabindex="-1" role="dialog" id="modalLogin">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      
      <div class="modal-header" id="header-login">
        <button type="button" class="x" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Welcome back</h4>
      </div>
      
      <div class="modal-body">

		<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
		  <div class="field">
		    <%= f.label :email, "e-mail" %><br />
		    <%= f.email_field :email, autofocus: true, class: "field_content" %>
		  </div>

		  <div class="field">
		    <%= f.label :password, "password" %><br />
		    <%= f.password_field :password, autocomplete: "off", class: "field_content" %>
		  </div>

		  <% if devise_mapping.rememberable? -%>
		    <div class="remember">
		      <%= f.check_box :remember_me %>
		      <%= f.label :remember_me, "Remember me" %>
		    </div>
		  <% end -%>

		  <div class="actions">
		  	<%= f.submit "Log in", class: "button-login-join" %>
		  </div>
		<% end %>
      </div>

      <div class="modal-footer">
		<%= render "devise/shared/links" %>
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- MODAL JOIN -->
<div class="modal fade" tabindex="-1" role="dialog" id="modalJoin">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      
      <div class="modal-header"  id="header-join">
        <button type="button" class="x" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Welcome</h4>
      </div>
      
      <div class="modal-body">

		<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
		  <%= devise_error_messages! %>

		  <div class="field">
		    <%= f.label :email, "e-mail" %><br />
		    <%= f.email_field :email, autofocus: true, class: "field_content" %>
		  </div>

		  <div class="field">
		    <%= f.label :password, "password" %>
		    <% if @minimum_password_length %>
		    <em>(<%= @minimum_password_length %> characters minimum)</em>
		    <% end %><br />
		    <%= f.password_field :password, autocomplete: "off", class: "field_content" %>
		  </div>

		  <div class="field">
		    <%= f.label :password_confirmation, "password confirmation" %><br />
		    <%= f.password_field :password_confirmation, autocomplete: "off", class: "field_content" %>
		  </div>

		  <div class="actions">
		  	<%= f.submit "Join now", class: "button-login-join" %>
		  </div>
		<% end %>
      </div>

      <div class="modal-footer">
		<%= render "devise/shared/links" %>
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
