<!DOCTYPE html>
<html>
<head>
  <title>Ocho</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<!-- LOGIN WITH FB -->
	<script>
	  window.fbAsyncInit = function() {
	    FB.init({
	      appId      : '865923363537795',
	      xfbml      : true,
	      version    : 'v2.6'
	    });
	  };

	  (function(d, s, id){
	     var js, fjs = d.getElementsByTagName(s)[0];
	     if (d.getElementById(id)) {return;}
	     js = d.createElement(s); js.id = id;
	     js.src = "//connect.facebook.net/en_US/sdk.js";
	     fjs.parentNode.insertBefore(js, fjs);
	   }(document, 'script', 'facebook-jssdk'));
	</script>

	<%= yield %>
	<%= render "partials/navbar" %>
	
	<!-- SLIDER -->
	<div id="contentContainer">
		<div id="wrapper">
		    <div id="itemOne" class="content"></div>
		    <div id="itemTwo" class="content"></div>
		    <div id="itemThree" class="content"></div>
		    <div id="itemFour" class="content"></div>
		</div>

		<div id="navLinks">
		    <ul>
		        <li class="itemLinks" data-pos="0vw"></li>
		        <li class="itemLinks" data-pos="-100vw"></li>
		        <li class="itemLinks" data-pos="-200vw"></li>
		        <li class="itemLinks" data-pos="-300vw"></li>
		    </ul>
		</div>
	</div>

	<p id="what">
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at magna turpis. Praesent mattis sed leo eget porttitor. Nunc vel blandit metus. Sed aliquet diam erat, sed porta neque rhoncus non. Fusce fringilla tellus ac egestas mattis. Nunc semper egestas porttitor. Curabitur id lorem leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse nec sem non nisi tempor semper. Integer a tristique nunc. Sed maximus feugiat laoreet. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec et posuere orci. Cras accumsan eros id velit semper semper. Curabitur sagittis eget tellus et elementum. Praesent lacinia, magna id mattis egestas, orci felis facilisis felis, et volutpat urna massa vel nisl.

Quisque commodo hendrerit tellus lobortis lobortis. Sed ultricies, nulla laoreet interdum ultrices, ante urna bibendum diam, sed iaculis risus elit sed orci. Aliquam imperdiet eleifend velit, at vulputate mi rutrum tempor. Ut imperdiet nunc ut turpis porta ultrices. Integer sagittis in ex nec facilisis. Nunc dapibus purus ac augue tempor lobortis. Sed pulvinar dui ut vehicula sollicitudin. Vestibulum sodales congue ipsum non elementum. Pellentesque id elit vitae lacus rhoncus faucibus. Ut ultrices leo ut nisi mattis sollicitudin. Quisque et laoreet eros. Nullam malesuada non elit et viverra. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse lobortis tincidunt metus, non feugiat velit imperdiet in. Cras vehicula, neque pellentesque ultricies dapibus, quam dolor tempor diam, eu semper lacus nisi et magna. Sed lacinia vel urna in porttitor.

Integer sagittis eros urna, quis tristique leo tincidunt nec. Vivamus auctor vitae diam ac facilisis. Praesent at aliquam eros. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In eu vehicula diam. Vivamus mauris dolor, egestas in nibh malesuada, fringilla lacinia magna. Vivamus luctus at nisi sed luctus. Aliquam vitae purus sed risus varius mollis. Curabitur et finibus nunc, at scelerisque neque. Integer nec maximus nisi.

Sed laoreet neque nec interdum auctor. Phasellus quam metus, malesuada posuere tellus ut, porta ultricies augue. Nullam facilisis erat ligula, posuere imperdiet lorem iaculis sit amet. Nam tellus velit, cursus eget neque ut, posuere ullamcorper justo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed sit amet lacinia orci. Suspendisse laoreet eget eros nec dignissim. Pellentesque non quam ut odio placerat faucibus. Duis ante neque, laoreet laoreet sagittis ac, sagittis eget enim. Vivamus rhoncus, dolor id sagittis commodo, diam odio suscipit lacus, sed bibendum tortor est sollicitudin neque. Pellentesque vitae diam cursus nulla sollicitudin lobortis. Nullam vestibulum neque eget massa tristique interdum. Integer libero ante, faucibus sit amet semper eget, malesuada semper erat. Curabitur auctor tempor venenatis. In quis ex est.

Quisque maximus, est vitae euismod malesuada, sapien mauris consequat elit, eu sollicitudin tortor libero non lacus. Fusce nec eleifend magna. Integer id porttitor urna. Suspendisse potenti. Nulla blandit eu metus a mattis. Nulla mollis, diam vel posuere commodo, enim velit semper nunc, eu accumsan est nulla at nunc. Aenean condimentum porttitor diam, in varius velit. Cras euismod auctor eros eu imperdiet.

Donec tincidunt fermentum semper. Maecenas lacus purus, ullamcorper sit amet elementum nec, venenatis quis turpis. Cras sit amet lectus mauris. Phasellus porttitor euismod egestas. Nulla facilisi. In rutrum, augue vel dignissim imperdiet, enim turpis sagittis ligula, at dapibus orci est non magna. Aliquam erat volutpat. Nullam luctus egestas turpis, bibendum viverra ante. Quisque ultricies enim non lectus volutpat, ac aliquet ipsum euismod. In nibh dolor, gravida vitae urna eget, blandit suscipit nisi. Fusce at rhoncus nisl. Ut ut felis nec quam lacinia facilisis malesuada sed justo.

Proin a aliquet tellus, eu facilisis mi. Cras justo turpis, tristique non dictum ac, vehicula placerat enim. Nulla tempor risus a est porttitor placerat. Integer scelerisque velit a varius consequat. Vivamus aliquet massa orci. Duis porta nisl eget sem interdum vestibulum. Ut eget dolor fringilla velit convallis sodales sed quis massa. Cras metus erat, sodales ac ultricies vitae, ultricies in diam.

Nunc justo libero, sodales ut eros eget, faucibus mollis enim. Morbi quis eros eget velit maximus maximus. Mauris luctus libero nec turpis lobortis, at aliquam justo luctus. Duis tincidunt, tellus sed sagittis commodo, risus sapien scelerisque metus, et facilisis odio justo in leo. Sed a lorem at leo maximus condimentum. Aliquam commodo lectus id lectus pulvinar, et euismod odio pellentesque. Etiam in odio vitae enim porta lobortis. Donec tempus nulla et interdum fringilla. Praesent et purus diam.

Proin id diam tellus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nulla scelerisque dolor ex, sed facilisis tortor pellentesque ac. Fusce vestibulum turpis massa, in finibus ipsum maximus et. Fusce quis nibh ac massa volutpat faucibus vel ac tellus. Etiam posuere vel urna ac convallis. Curabitur id mattis elit, eu faucibus urna. Sed metus enim, hendrerit viverra odio id, convallis vestibulum eros. In posuere nunc tristique, imperdiet arcu non, tempus risus. Fusce ornare augue non nisi condimentum, quis aliquam dolor tempor. Nullam in condimentum ex. Phasellus et dapibus magna. Curabitur porta massa sit amet volutpat rutrum. Fusce quis ultricies eros, a iaculis urna. Nunc ut lorem egestas, bibendum tortor in, tincidunt elit.

Praesent a felis ornare, commodo ipsum eget, lacinia ipsum. Nullam eleifend lacinia ante eget tempus. Sed tempor arcu in hendrerit finibus. Fusce et dui sollicitudin, iaculis metus volutpat, feugiat felis. Nulla volutpat purus eu lectus pulvinar, vitae volutpat arcu suscipit. Donec ligula risus, ornare sit amet velit at, aliquam malesuada nisi. Integer placerat vehicula nunc, sit amet interdum tellus scelerisque id. Nullam in scelerisque metus. Nulla lacinia, sapien nec rhoncus aliquet, massa quam maximus neque, et egestas justo tellus id tellus.

Proin id diam tellus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nulla scelerisque dolor ex, sed facilisis tortor pellentesque ac. Fusce vestibulum turpis massa, in finibus ipsum maximus et. Fusce quis nibh ac massa volutpat faucibus vel ac tellus. Etiam posuere vel urna ac convallis. Curabitur id mattis elit, eu faucibus urna. Sed metus enim, hendrerit viverra odio id, convallis vestibulum eros. In posuere nunc tristique, imperdiet arcu non, tempus risus. Fusce ornare augue non nisi condimentum, quis aliquam dolor tempor. Nullam in condimentum ex. Phasellus et dapibus magna. Curabitur porta massa sit amet volutpat rutrum. Fusce quis ultricies eros, a iaculis urna. Nunc ut lorem egestas, bibendum tortor in, tincidunt elit.

Praesent a felis ornare, commodo ipsum eget, lacinia ipsum. Nullam eleifend lacinia ante eget tempus. Sed tempor arcu in hendrerit finibus. Fusce et dui sollicitudin, iaculis metus volutpat, feugiat felis. Nulla volutpat purus eu lectus pulvinar, vitae volutpat arcu suscipit. Donec ligula risus, ornare sit amet velit at, aliquam malesuada nisi. Integer placerat vehicula nunc, sit amet interdum tellus scelerisque id. Nullam in scelerisque metus. Nulla lacinia, sapien nec rhoncus aliquet, massa quam maximus neque, et egestas justo tellus id tellus.
	</p>
	
	<!-- JAVASCRIPT SLIDER -->
	<script src="//www.kirupa.com/prefixfree.min.js"></script>
	<script>
		var links = document.querySelectorAll(".itemLinks");
		var wrapper = document.querySelector("#wrapper"); 
		// the activeLink provides a pointer to the currently displayed item
		var activeLink = 0;
		 
		// setup the event listeners
		for (var i = 0; i < links.length; i++) {
		    var link = links[i];
		    link.addEventListener('click', setClickedItem, false);
		 
		    // identify the item for the activeLink
		    link.itemID = i;
		}
		 
		// set first item as active
		links[activeLink].classList.add("active");
		 
		function setClickedItem(e) {
		    removeActiveLinks();
		 
		    var clickedLink = e.target;
		    activeLink = clickedLink.itemID;
		 
		    changePosition(clickedLink);
		}
		 
		function removeActiveLinks() {
		    for (var i = 0; i < links.length; i++) {
		        links[i].classList.remove("active");
		    }
		}
		 
		// Handle changing the slider position as well as ensure
		// the correct link is highlighted as being active
		function changePosition(link) {
		    var position = link.getAttribute("data-pos");
		 
		    var translateValue = "translate3d(" + position + ", 0px, 0)";
		    wrapper.style[transformProperty] = translateValue;
		 
		    link.classList.add("active");
		}

		// Dealing with Transforms
		var transforms = ["transform",
		            "msTransform",
		            "webkitTransform",
		            "mozTransform",
		            "oTransform"];
		 
		var transformProperty = getSupportedPropertyName(transforms);
		 
		// vendor prefix management
		function getSupportedPropertyName(properties) {
		    for (var i = 0; i < properties.length; i++) {
		        if (typeof document.body.style[properties[i]] != "undefined") {
		            return properties[i];
		        }
		    }
		    return null;
		}

		// The code for sliding the content automatically
		var timeoutID;
		 
		function startTimer() {
		    // wait 2 seconds before calling goInactive
		    timeoutID = window.setInterval(goToNextItem, 3000);
		}
		startTimer();
		 
		function resetTimer() {
		    window.clearInterval(timeoutID);
		    startTimer();
		}
		 
		function goToNextItem() {
		    removeActiveLinks();
		 
		    if (activeLink < links.length - 1) {
		        activeLink++;
		    } else {
		        activeLink = 0;
		    }
		 
		    var newLink = links[activeLink];
		    changePosition(newLink);
		}

		function setClickedItem(e) {
	    removeActiveLinks();
	    resetTimer();
	 
	    var clickedLink = e.target;
	    activeLink = clickedLink.itemID;
	 
	    changePosition(clickedLink);
		}
	</script>
	
	<!-- JAVASCRIPT ANIMATIONS -->
	<script>
		$("#what").click(function(){
    		$("#").slideUp();
		});
	</script>
</body>
</html>
