<!DOCTYPE html>
<html>
<head>
  <title>Ocho</title>
  <%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%#= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<!-- SLIDER -->
	<div id="contentContainer">
		<div id="wrapper">
		    <div id="itemOne" class="content"></div>
		    <div id="itemTwo" class="content"></div>
		    <div id="itemThree" class="content"></div>
		    <div id="itemFour" class="content"></div>
		</div>

		<div id="navLinks">
		    <ul>
		        <li class="itemLinks" data-pos="0vw"></li>
		        <li class="itemLinks" data-pos="-100vw"></li>
		        <li class="itemLinks" data-pos="-200vw"></li>
		        <li class="itemLinks" data-pos="-300vw"></li>
		    </ul>
		</div>
	</div>

	<!-- INFO -->

	<div id="info">
		<p> <a name="what"></a>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi in egestas nunc, ac varius odio. Nullam aliquet vitae urna eu pulvinar. Nullam bibendum facilisis egestas. Etiam convallis placerat bibendum. Ut id felis lacus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel mollis ex, quis tincidunt purus.

			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc aliquam ante nec sodales fringilla. Mauris ultricies aliquet quam, sed lobortis nibh elementum vitae. Praesent ac aliquam augue. Sed scelerisque nibh nec magna fermentum, quis posuere mi malesuada. Aliquam posuere quam et dignissim porttitor. Ut eu sapien dolor. Donec bibendum egestas facilisis. Sed eget sem blandit, feugiat purus in, facilisis justo. Aliquam tristique arcu sapien, ut auctor leo vestibulum eu. Phasellus tempor tellus vitae velit tristique, vitae malesuada ante vestibulum. Etiam vel erat augue.

			Donec molestie, sapien in euismod tristique, sapien nunc tristique nisl, in convallis nunc diam a erat. Curabitur in libero efficitur, semper odio et, rutrum nisl. Nunc tempor, neque et sagittis mattis, justo eros pretium nibh, nec rutrum nunc diam vel lorem. Aenean nec volutpat turpis. Sed faucibus purus id leo suscipit, ac interdum erat vehicula. Nam et facilisis tellus. Phasellus ac ligula a elit ultrices consectetur. Duis ac sollicitudin urna, id varius lorem. Praesent congue molestie fermentum. Mauris fringilla porttitor purus sed facilisis.

			Morbi at augue magna. Quisque sodales orci ligula, eget rhoncus ipsum interdum quis. Nam non bibendum tellus. Donec placerat lobortis ligula, non semper ligula porta nec. Nunc venenatis purus ex, ut posuere nibh hendrerit et. Vivamus non imperdiet metus, id interdum sem. Pellentesque consequat posuere est quis condimentum.

			Morbi rutrum placerat molestie. Ut at libero mattis, hendrerit magna vel, dictum enim. Donec vehicula porttitor sodales. Sed at vestibulum libero. Phasellus quis nunc ullamcorper, suscipit felis vitae, facilisis tortor. Maecenas tellus nisi, interdum nec rhoncus aliquam, tempus ut nunc. Nam rhoncus purus sem, id accumsan velit dictum in. Fusce massa purus, bibendum nec orci et, vestibulum luctus enim. Ut placerat semper lacus et fermentum. Sed accumsan dui eu tortor efficitur semper. Cras vel finibus ipsum. Sed convallis ullamcorper sem. Donec lacinia neque nisl, tincidunt aliquet dui pellentesque ut. Nunc rhoncus enim sollicitudin convallis sagittis.
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi in egestas nunc, ac varius odio. Nullam aliquet vitae urna eu pulvinar. Nullam bibendum facilisis egestas. Etiam convallis placerat bibendum. Ut id felis lacus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel mollis ex, quis tincidunt purus.

			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc aliquam ante nec sodales fringilla. Mauris ultricies aliquet quam, sed lobortis nibh elementum vitae. Praesent ac aliquam augue. Sed scelerisque nibh nec magna fermentum, quis posuere mi malesuada. Aliquam posuere quam et dignissim porttitor. Ut eu sapien dolor. Donec bibendum egestas facilisis. Sed eget sem blandit, feugiat purus in, facilisis justo. Aliquam tristique arcu sapien, ut auctor leo vestibulum eu. Phasellus tempor tellus vitae velit tristique, vitae malesuada ante vestibulum. Etiam vel erat augue.

			Donec molestie, sapien in euismod tristique, sapien nunc tristique nisl, in convallis nunc diam a erat. Curabitur in libero efficitur, semper odio et, rutrum nisl. Nunc tempor, neque et sagittis mattis, justo eros pretium nibh, nec rutrum nunc diam vel lorem. Aenean nec volutpat turpis. Sed faucibus purus id leo suscipit, ac interdum erat vehicula. Nam et facilisis tellus. Phasellus ac ligula a elit ultrices consectetur. Duis ac sollicitudin urna, id varius lorem. Praesent congue molestie fermentum. Mauris fringilla porttitor purus sed facilisis.

			Morbi at augue magna. Quisque sodales orci ligula, eget rhoncus ipsum interdum quis. Nam non bibendum tellus. Donec placerat lobortis ligula, non semper ligula porta nec. Nunc venenatis purus ex, ut posuere nibh hendrerit et. Vivamus non imperdiet metus, id interdum sem. Pellentesque consequat posuere est quis condimentum.

			Morbi rutrum placerat molestie. Ut at libero mattis, hendrerit magna vel, dictum enim. Donec vehicula porttitor sodales. Sed at vestibulum libero. Phasellus quis nunc ullamcorper, suscipit felis vitae, facilisis tortor. Maecenas tellus nisi, interdum nec rhoncus aliquam, tempus ut nunc. Nam rhoncus purus sem, id accumsan velit dictum in. Fusce massa purus, bibendum nec orci et, vestibulum luctus enim. Ut placerat semper lacus et fermentum. Sed accumsan dui eu tortor efficitur semper. Cras vel finibus ipsum. Sed convallis ullamcorper sem. Donec lacinia neque nisl, tincidunt aliquet dui pellentesque ut. Nunc rhoncus enim sollicitudin convallis sagittis.

						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi in egestas nunc, ac varius odio. Nullam aliquet vitae urna eu pulvinar. Nullam bibendum facilisis egestas. Etiam convallis placerat bibendum. Ut id felis lacus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel mollis ex, quis tincidunt purus.

			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc aliquam ante nec sodales fringilla. Mauris ultricies aliquet quam, sed lobortis nibh elementum vitae. Praesent ac aliquam augue. Sed scelerisque nibh nec magna fermentum, quis posuere mi malesuada. Aliquam posuere quam et dignissim porttitor. Ut eu sapien dolor. Donec bibendum egestas facilisis. Sed eget sem blandit, feugiat purus in, facilisis justo. Aliquam tristique arcu sapien, ut auctor leo vestibulum eu. Phasellus tempor tellus vitae velit tristique, vitae malesuada ante vestibulum. Etiam vel erat augue.

			Donec molestie, sapien in euismod tristique, sapien nunc tristique nisl, in convallis nunc diam a erat. Curabitur in libero efficitur, semper odio et, rutrum nisl. Nunc tempor, neque et sagittis mattis, justo eros pretium nibh, nec rutrum nunc diam vel lorem. Aenean nec volutpat turpis. Sed faucibus purus id leo suscipit, ac interdum erat vehicula. Nam et facilisis tellus. Phasellus ac ligula a elit ultrices consectetur. Duis ac sollicitudin urna, id varius lorem. Praesent congue molestie fermentum. Mauris fringilla porttitor purus sed facilisis.

			Morbi at augue magna. Quisque sodales orci ligula, eget rhoncus ipsum interdum quis. Nam non bibendum tellus. Donec placerat lobortis ligula, non semper ligula porta nec. Nunc venenatis purus ex, ut posuere nibh hendrerit et. Vivamus non imperdiet metus, id interdum sem. Pellentesque consequat posuere est quis condimentum.

			Morbi rutrum placerat molestie. Ut at libero mattis, hendrerit magna vel, dictum enim. Donec vehicula porttitor sodales. Sed at vestibulum libero. Phasellus quis nunc ullamcorper, suscipit felis vitae, facilisis tortor. Maecenas tellus nisi, interdum nec rhoncus aliquam, tempus ut nunc. Nam rhoncus purus sem, id accumsan velit dictum in. Fusce massa purus, bibendum nec orci et, vestibulum luctus enim. Ut placerat semper lacus et fermentum. Sed accumsan dui eu tortor efficitur semper. Cras vel finibus ipsum. Sed convallis ullamcorper sem. Donec lacinia neque nisl, tincidunt aliquet dui pellentesque ut. Nunc rhoncus enim sollicitudin convallis sagittis.
		</p>
	</div>
	
	<!-- JAVASCRIPT SLIDER -->
	<script>
		var links = document.querySelectorAll(".itemLinks");
		var wrapper = document.querySelector("#wrapper"); 
		// the activeLink provides a pointer to the currently displayed item
		var activeLink = 0;
		 
		// setup the event listeners
		for (var i = 0; i < links.length; i++) {
		    var link = links[i];
		    link.addEventListener('click', setClickedItem, false);
		 
		    // identify the item for the activeLink
		    link.itemID = i;
		}
		 
		// set first item as active
		links[activeLink].classList.add("active");
		 
		function setClickedItem(e) {
		    removeActiveLinks();
		 
		    var clickedLink = e.target;
		    activeLink = clickedLink.itemID;
		 
		    changePosition(clickedLink);
		}
		 
		function removeActiveLinks() {
		    for (var i = 0; i < links.length; i++) {
		        links[i].classList.remove("active");
		    }
		}
		 
		// Handle changing the slider position as well as ensure
		// the correct link is highlighted as being active
		function changePosition(link) {
		    var position = link.getAttribute("data-pos");
		 
		    var translateValue = "translate3d(" + position + ", 0px, 0)";
		    wrapper.style[transformProperty] = translateValue;
		 
		    link.classList.add("active");
		}

		// Dealing with Transforms
		var transforms = ["transform",
		            "msTransform",
		            "webkitTransform",
		            "mozTransform",
		            "oTransform"];
		 
		var transformProperty = getSupportedPropertyName(transforms);
		 
		// vendor prefix management
		function getSupportedPropertyName(properties) {
		    for (var i = 0; i < properties.length; i++) {
		        if (typeof document.body.style[properties[i]] != "undefined") {
		            return properties[i];
		        }
		    }
		    return null;
		}

		// The code for sliding the content automatically
		var timeoutID;
		 
		function startTimer() {
		    // wait 2 seconds before calling goInactive
		    timeoutID = window.setInterval(goToNextItem, 3000);
		}
		startTimer();
		 
		function resetTimer() {
		    window.clearInterval(timeoutID);
		    startTimer();
		}
		 
		function goToNextItem() {
		    removeActiveLinks();
		 
		    if (activeLink < links.length - 1) {
		        activeLink++;
		    } else {
		        activeLink = 0;
		    }
		 
		    var newLink = links[activeLink];
		    changePosition(newLink);
		}

		function setClickedItem(e) {
	    removeActiveLinks();
	    resetTimer();
	 
	    var clickedLink = e.target;
	    activeLink = clickedLink.itemID;
	 
	    changePosition(clickedLink);
		}
	</script>
</body>
</html>

<!-- MODAL -->
<div class="modal fade" tabindex="-1" role="dialog" id="myModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Log In</h4>
      </div>
      <div class="modal-body">
		<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
		  <div class="field">
		    <%= f.label :email, "e-mail" %><br />
		    <%= f.email_field :email, autofocus: true %>
		  </div>

		  <div class="field">
		    <%= f.label :password, "password" %><br />
		    <%= f.password_field :password, autocomplete: "off" %>
		  </div>

		  <% if devise_mapping.rememberable? -%>
		    <div class="field">
		      <%= f.check_box :remember_me %>
		      <%= f.label :remember_me, "Remember me" %>
		    </div>
		  <% end %>
		<% end %>

		<%= render "devise/shared/links" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Log In</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->