<!DOCTYPE html>
<html>
<head>
  <title>OCHO ·haz eco·</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= flash_message %>
  <link href="https://fonts.googleapis.com/css?family=Raleway:300,400" rel="stylesheet">
</head>
<body>
	<%= render "partials/navbar" %>

	<!-- LOGIN WITH FB -->
	<script>
	  window.fbAsyncInit = function() {
	    FB.init({
	      appId      : '865923363537795',
	      xfbml      : true,
	      version    : 'v2.6'
	    });
	  };

	  (function(d, s, id){
	     var js, fjs = d.getElementsByTagName(s)[0];
	     if (d.getElementById(id)) {return;}
	     js = d.createElement(s); js.id = id;
	     js.src = "//connect.facebook.net/en_US/sdk.js";
	     fjs.parentNode.insertBefore(js, fjs);
	   }(document, 'script', 'facebook-jssdk'));
	</script>

	<!-- jQuery -->
	<script src="//code.jquery.com/jquery-2.2.1.min.js"></script>
	<script>window.jQuery || document.write('<script src="js/vendor/jquery-2.2.1.min.js"><\/script>')</script>
	<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	
	<%= yield %>
</body>
</html>
